# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Project specific excludes

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.war
*.ear
*.jar
*.sar
*.class

#Include libraries
!lib/*

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/
/out

# eclipse project file
.settings/
.classpath
.project
.tern-project

# NetBeans specific
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
nblibraries.properties

# OS
.DS_Store
